/* Stylesheet for the pink theme calculator */

*{

		margin: 0;		padding: 0;

		box-sizing: border-box;

}

#screen{

		height: 150px;

		position: relative;

}

#calcu{

		height: 110px;

		background: #0d0f13;

		color: white;

		border-radius: 10px 10px 10px 0;

		padding: 10px;

}

#mode{

		font-size: 0.7em !important;

		color: rgba(225,225,225,0.5);

		text-align: left;

}

#calc{

		text-align: right;

		font-size: 1.7em;

}

#result{

		height: 30px;

		padding: 5px 10px;

		color: white;

		width: 100px;

		border-radius: 0 0 20px 0px;

		background: #0d0f13;

}

.mt-2{

		margin-top: 10px;

}

.mb-2{

		margin-bottom: 10px;

}

.m-2{

		margin: 10px;

}

.btn{

		border: none;

		width: 70px;

		height: 70px;

		border-radius: 50%;

		

		outline: none;

}

.btn-info{

		background: white;

		border: 2px solid #ff5260;

		color: #ff5260;

}

.btn-primary{

		background: #FF5260;

		border: 0px solid #ff5260;

		color: white;

}

.btn-danger{

		background: #FF153F;

		border: 0px solid #ff153f;

		color: white;

}

.btn-success{

		background: #ff2a4a;

		border: 0px solid #ff5260;

		color: white;

}

.btn-info:active{

		background: #ff9595;

		border: 2px solid #ff3f54;

}

.btn-primary:active{

		background: #aa3840;

		border: 0px solid ##ff5560;

		color: white;

}

.btn-danger:active{

		background: #6f091b;

		border: 0px solid #ff153f;

		color: white;

}

.btn-success:active{

		background: #99192c;

		border: 0px solid #ff5260;

		color: white;

}

.row{

		display: flex;

		align-items: center;

		justify-content: space-between;

		width: 350px;

}

.container, footer{

		width: 360px;

		display: flex;

		flex-direction: column;

		align-items: center;

		justify-content: center;

}

footer{

		background: #ff5260;

		padding: 7px;

		color: white;

}

a{

		color: #ff9595;

		text-decoration: none;

}
